*,
::before,
::after {
	position: relative;
}

html {
	overflow-x: hidden;
	overflow-x: clip;
	scroll-behavior: smooth;
	text-wrap: pretty;
	font-variant-numeric: tabular-nums;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	font-family: 'Figtree', sans-serif;
	font-optical-sizing: auto;
	line-height: 1.5;

	color: #111;
}

body {
	min-height: 100svh;
}

main,
header,
section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

main {
	max-width: 80ch;
	margin: 0 auto;
	padding: 50px 20px;

	gap: 32px;
}

section {
	background: #f8fafc;
	background: oklch(98.5% 0 0);
	padding: 24px;
	border-radius: 24px;
}

h1,
h2,
h3 {
	text-wrap: balance;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-family: 'Audiowide', sans-serif;
	font-weight: 400;
}

p + p {
	margin: 0;
}

blockquote {
	border-left: 4px #111 solid;
	padding-left: 8px;
}

code,
pre {
	font-family: 'Roboto Mono', monospace;
	tab-size: 2;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2ch;
}

.shiki,
.shiki-magic-move-container {
	padding: 8px 12px;
	border-radius: 8px;
	overflow-x: auto;
	font-size: 14px;
}
